* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #59c1bb;
    --text-color: #0b1e3f;
    --bg-color: #ffffff;
    --transitions: all 0.4s ease;

}

*::selection {
    background: var(--main-color);
    color: #59c1bb;
}

body {
    color: var(--text-color);
}

/****************************** ADD MEDICINE POPUP ******************************/

.add-medicine-popup {
    z-index: 999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    
    opacity: 0;
    pointer-events: none;
}

.add-category-popup {
    z-index: 999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.2s ease;

    opacity: 0;
    pointer-events: none;
}

.add-medicine-popup-box {
    /* display: none; */
    position: absolute;
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    align-items: center;
    border-radius: 8px;
    background: var(--bg-color);
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 25px;
    transition: 0.2s ease;
    overflow-y: auto;
}

.add-category-popup-box {
    position: absolute;
    max-width: 400px;
    width: 100%;
    max-height: 220px;
    height: 100%;
    align-items: center;
    border-radius: 8px;
    background: var(--bg-color);
    /* background: red; */
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 25px;
    transition: 0.2s ease;
    overflow-y: auto;
}

.add-medicine-popup-box header {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
}

.add-category-popup-box header {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
}

.add-medicine-popup-box .form {
    margin-top: 25px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: var(--text-color);
    font-size: 1.2rem;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
  
.input-box input:focus,
.input-box textarea:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.input-box .box {
    background: var(--bg-color);
    height: 50px;
    width: 100%;
    padding: 12px 15px;
}

/* IF ACTIVE */
.add-medicine-popup.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s ease;
}

.add-category-popup.visible {
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s ease;
}

/****************************** SECTIONS OF THE POPUP ******************************/

.form .input-box .long-text {
    position: relative;
    height: 200px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button, 
.backBtn {
    padding: 10px 0;
    width: 150px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    margin-top: 20px;
    text-align: center;
    transition: var(--transitions);
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/*  *****************************************************************************************************************************************************/

.form h5 {
    font-size: 13px;
    margin-top: 5px;
    color: red;
    font-weight: 400;
    text-align: left;
}

.form input[type="submit"] {
    padding: 10px 0;
    width: 150px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    margin-top: 20px;
    text-align: center;
    transition: var(--transitions);
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.add-category-popup .add-category-popup-box .buttons {
    margin-top: 35px;
}

.add-category-popup .add-category-popup-box .buttons .close-category-popup,
.add-category-popup .add-category-popup-box .buttons input[type="submit"] {
    padding: 10px 0;
    width: 150px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    text-align: center;
    transition: var(--transitions);
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0px auto;
    text-align: center;
}

.add-category-popup .add-category-popup-box .buttons .close-category-popup-1 {
    background: red;
    padding: 10px 0;
    width: 150px;
    color: var(--bg-color);
    border-radius: 0.5rem;
    text-align: center;
    transition: var(--transitions);
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0px auto;
    text-align: center;
}

.add-category-popup.visible .close-category-popup-1 {
    display: block;
    pointer-events: auto;
}

.form button:hover,
.form .backBtn:hover,
.form input[type="submit"]:hover {
    background-color: var(--text-color);
}

form .buttons{
    display: flex;
    align-items: center;
}

form .buttons button, .backBtn{
    margin-right: 14px;
}

/****************************** NAVIGATION BAR & MENU ******************************/
nav {
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  label.logo {
    color:#0B1E3F;
    font-size: 3.3rem;
    line-height: 80px;
    margin-left: 5rem;
    font-family:'League Spartan';
    font-weight: bold;
  }
  label.logo1 {
    color:#59C1BB;
    font-size: 3.3rem;
    line-height: 90px;
    margin-left:0rem;
    font-family:'League Spartan';
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 10px;
  }
  
  nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
    font-family:Montserrat; 
  }
  nav a {
    color:#344966;
    font-size: 17px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
  }
  nav ul li a.fa-location-dot {
    position: absolute;
    top: 31px;
    right: 691px;
    color: #36486b;
    font-size: 1.0rem;
  }
  nav ul li a.fa-user{
    position: absolute;
    top: 31px;
    right: 502px;
    color: #36486b;
    font-size: 1.0rem;
  }
  nav ul li a.fa-message{
    position: absolute;
    top: 31px;
    right: 361px;
    color: #36486b;
    font-size: 1.0rem;
  } 
  nav .login,
  nav a:hover,
  nav ul li a:hover i{
    border: 1px solid #EAF4F4;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    background: #EAF4F4;
    color: #59c1bb;
    padding: 8px 12px;
    transition: 0.5s;
  }
  nav #icon {
    color: white;
    font-size: 20px;
    line-height: 10px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
/****************************** CATEGORIES CONTAINER ******************************/

.categories_container {
    position: relative;
    top: 110px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 13% 87%;
    padding: 0px 30px;
}

.categories_left li {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.categories_left li a {
    color: var(--text-color);
    transition: var(--transitions);
}

.categories_left li a:hover {
    color: var(--main-color);
}

.categories_left .category-crud-icons {
    margin-left: 20px;
    vertical-align: middle;
}

.fa-square-pen,
.fa-square-minus {
    color: var(--main-color);
    font-size: 19px;
    cursor: pointer;
}

.fa-square-pen:hover,
.fa-square-minus:hover {
    color: var(--text-color);
}

/****************************** MEDICINE CONTAINER ******************************/

.box {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    background: #f1f3f4;
    padding: 10px;
    border-radius: 0.5rem;
}

/****************************** MEDICINE IMAGES CONTAINER ******************************/

img {
    width: 100%;
}

/****************************** MEDICINE EDIT BUTTONS ******************************/

.btn {
    padding: 10px 20px;
    background: var(--main-color);
    color: #ffffff;
    border-radius: 0.5rem;
    margin-top: 25px;
    text-align: center;
    transition: var(--transitions);
}

.btn:hover {
    background-color: var(--text-color);
}

/****************************** ADD & DELETE MEDICINE CONTAINER ******************************/

.add_delete_container {
    position: relative;
    margin-left: 700px;
}

/****************************** CRUD CONTAINER ******************************/

.CRUD_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.CRUD_box {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: right;
    border-radius: 0.5rem;
}

/****************************** ADD & DELETE MEDICINE BUTTONS ******************************/

.show-add-medicine,
.show-add-category {
    padding: 10px 20px;
    background: var(--main-color);
    color: #ffffff;
    border-radius: 0.5rem;
    text-align: center;
    transition: var(--transitions);
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.show-add-medicine:hover,
.show-add-category:hover {
    background-color: var(--text-color);
}

/****************************** CATEGORY SEPARATOR ******************************/

hr.rounded {
    margin-top: 0.5rem;
    border: 1px solid var(--main-color);
    width: 110px;
    margin-bottom: 1rem;
}

/****************************** PRODUCT DISPLAY ******************************/
.product-display {
    overflow-y: scroll;
    background: var(--bg-color);
}

.product-display .product-display-table {
    width: 100%;
    text-align: center;
    width: 150rem;
    background: #e0e0e0;
}

.product-display .product-display-table thead {
    background: #eee;
}

.product-display-table th {
    padding: 1rem;
    font-weight: 600;
    font-size: 17px;
}

.product-display .product-display-table td {
    padding: 0.4rem;
    background: var(--bg-color);
}

.product-display .product-display-table button {
    display: block;
    width: 80px;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 5px;
    margin: 10px auto;
    color: white;
    border: none;
    outline: none;
}

.btn-for-action-edit {
    font-size: 1rem;
    background: var(--main-color);
}

.btn-for-action-edit:hover {
    background: var(--text-color);
    transition: var(--transitions);
}

.btn-for-action-delete {
    font-size: 1rem;
    background: var(--main-color);
}

.btn-for-action-delete:hover {
    background: var(--text-color);
    transition: var(--transitions);
}

.open-update-category,
.btn-delete-category {
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--bg-color);
}
 /* SEARCH BAR */
 .searchcon {
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background: rgb(94, 192, 184);
    position: absolute;
    top: 25px;
    left: 1020px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 10000;
    position:fixed;
}
.searchcon.active {
    width: 300px;
    left: 589px; /* Adjust the right position based on your desired position */
}
/* ito yung mukha sa search icon sa loob ng circle */
.searchcon .searchicon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; /* Ensure search icon is above search bar */
}
/* yung size and color ng search icon sa loob ng circle */
.searchcon .searchicon .fa-search {
    font-size: 18px;
    color: rgb(255, 255, 255);
}
/* how "search your medicine and small search icon inside the bar looks like */
.searchcon .searchmedicine {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: s0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.searchcon.active .searchmedicine {
    opacity: 1;
    pointer-events: auto;
}

.searchcon .searchmedicine form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 100%;
    padding: 0 10px;
}
/* design:search your medicine here */
.searchcon .searchmedicine input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 14px; /* Adjust the font size based on your desired size */
    outline: none;
    text-indent: 10%;
}

.searchcon .searchmedicine button[type="submit"] {
    border: none;
    background:none;
    cursor: pointer;
    outline: none;
}
/* the search icon to the right sa expanded na */
.searchcon .searchmedicine button[type="submit"] .fa-search {
    font-size: 15px; /* Adjust the font size based on your desired size */
    color: rgb(255, 255, 255);
}
