* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #59c1bb;
    --text-color: #0b1e3f;
    --bg-color: #ffffff;
    --transitions: all 0.4s ease;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, var(--bg-color), var(--main-color));
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    background: var(--bg-color);
}

header {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: var(--main-color);
    transition: var(--transitions);
    cursor: pointer;
}

.field button:hover {
    background-color: var(--text-color);
    transition: var(--transitions);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.form a {
    color: var(--main-color);
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}